# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

toolbar-button-firefox-view =
    .label = { -firefoxview-brand-name }
    .tooltiptext = { -firefoxview-brand-name }
toolbar-button-firefox-view-2 =
    .label = { -firefoxview-brand-name }
    .tooltiptext = Kürzliches Surfen über Fenster und Geräte hinweg ansehen
menu-tools-firefox-view =
    .label = { -firefoxview-brand-name }
    .accesskey = F
firefoxview-page-title = { -firefoxview-brand-name }
firefoxview-page-heading =
    .heading = { -firefoxview-brand-name }
firefoxview-page-label =
    .label = { -firefoxview-brand-name }
firefoxview-close-button =
    .title = Schließen
    .aria-label = Schließen
firefoxview-empty-state-icon =
    .alt = Achtung:
# Used instead of the localized relative time when a timestamp is within a minute or so of now
firefoxview-just-now-timestamp = Gerade eben
# This is a headline for an area in the product where users can resume and re-open tabs they have previously viewed on other devices.
firefoxview-tabpickup-header = Synchronisierte Tabs
firefoxview-tabpickup-description = Öffnen Sie Seiten von anderen Geräten.
# Variables:
#  $percentValue (Number): the percentage value for setup completion
firefoxview-tabpickup-progress-label = { $percentValue } % abgeschlossen
firefoxview-tabpickup-step-signin-header = Nahtlos zwischen Geräten wechseln
firefoxview-tabpickup-step-signin-description = Um Ihre Tabs vom Telefon hier abzurufen, melden Sie sich zuerst an oder erstellen Sie ein Konto.
firefoxview-tabpickup-step-signin-primarybutton = Weiter
firefoxview-syncedtabs-signin-header-2 = Ihr { -brand-product-name } auf all Ihren Geräten
firefoxview-syncedtabs-signin-description-2 = Melden Sie sich an oder erstellen Sie ein Konto, um Tabs zu sehen, die Sie auf Ihrem Telefon und anderen Geräten geöffnet haben. Mit einem Konto können Sie auch Ihre Passwörter, Chronik und mehr synchronisieren.
firefoxview-syncedtabs-signin-primarybutton-2 = Anmelden
firefoxview-syncedtabs-signin-header = Holen Sie sich Tabs von überall
firefoxview-syncedtabs-signin-description = Um Ihre Tabs von überall anzuzeigen, wo Sie { -brand-product-name } verwenden, melden Sie sich bei Ihrem Konto an. Wenn Sie kein Konto haben, führen wir Sie durch die Schritte zur Registrierung.
firefoxview-syncedtabs-signin-primarybutton = Anmelden oder registrieren
firefoxview-tabpickup-adddevice-header = Synchronisieren Sie { -brand-product-name } auf Ihrem Telefon oder Tablet
firefoxview-tabpickup-adddevice-description = Laden Sie { -brand-product-name } für Mobilgeräte herunter und melden Sie sich dort an.
firefoxview-tabpickup-adddevice-learn-how = So wird's gemacht
firefoxview-tabpickup-adddevice-primarybutton = { -brand-product-name } für Mobilgeräte holen
firefoxview-syncedtabs-adddevice-header-2 = Holen Sie sich Tabs von überall
firefoxview-syncedtabs-adddevice-description-2 = Melden Sie sich bei { -brand-product-name } auf Ihrem Handy oder einem anderen Computer an, um hier Tabs anzuzeigen. Erfahren Sie, wie Sie <a data-l10n-name="url">weitere Geräte verbinden</a>.
firefoxview-syncedtabs-adddevice-header = Melden Sie sich auf Ihren anderen Geräten bei { -brand-product-name } an
firefoxview-syncedtabs-adddevice-description = Um Ihre Tabs von überall anzuzeigen, wo Sie { -brand-product-name } verwenden, melden Sie sich auf all Ihren Geräten an. Erfahren Sie, wie Sie <a data-l10n-name="url">zusätzliche Geräte verbinden</a>.
firefoxview-syncedtabs-adddevice-primarybutton = { -brand-product-name } für Mobilgeräte ausprobieren
firefoxview-tabpickup-synctabs-header = Tab-Synchronisation aktivieren
firefoxview-tabpickup-synctabs-description = Erlauben Sie { -brand-short-name }, Tabs zwischen Geräten zu teilen.
firefoxview-tabpickup-synctabs-learn-how = So wird's gemacht
firefoxview-tabpickup-synctabs-primarybutton = Offene Tabs synchronisieren
firefoxview-syncedtabs-synctabs-header = Synchronisationseinstellungen aktualisieren
firefoxview-syncedtabs-synctabs-description = Um Tabs von anderen Geräten zu sehen, müssen Sie Ihre offenen Tabs synchronisieren.
firefoxview-syncedtabs-synctabs-checkbox = Synchronisierung offener Tabs erlauben
firefoxview-syncedtabs-loading-header = Synchronisierung läuft
firefoxview-syncedtabs-loading-description = Wenn es abgeschlossen ist, sehen Sie alle Tabs, die Sie auf anderen Geräten geöffnet haben. Schauen Sie bald wieder vorbei.
firefoxview-tabpickup-fxa-admin-disabled-header = Ihre Organisation hat das Synchronisieren deaktiviert
firefoxview-tabpickup-fxa-admin-disabled-description = { -brand-short-name } kann Tabs nicht zwischen Geräten synchronisieren, da Ihr Administrator das Synchronisieren deaktiviert hat.
firefoxview-tabpickup-fxa-disabled-by-policy-description = { -brand-short-name } kann Tabs nicht zwischen Geräten synchronisieren, da Ihre Organisation das Synchronisieren deaktiviert hat.
firefoxview-tabpickup-network-offline-header = Überprüfen Sie Ihre Internetverbindung
firefoxview-tabpickup-network-offline-description = Wenn Sie eine Firewall oder einen Proxy verwenden, überprüfen Sie, ob { -brand-short-name } die Berechtigung hat, auf das Internet zuzugreifen.
firefoxview-tabpickup-network-offline-primarybutton = Erneut versuchen
firefoxview-tabpickup-sync-error-header = Wir haben Probleme bei der Synchronisierung
firefoxview-tabpickup-generic-sync-error-description = { -brand-short-name } kann den Synchronisierungsdienst derzeit nicht erreichen. Versuchen Sie es in ein paar Augenblicken erneut.
firefoxview-tabpickup-sync-error-primarybutton = Erneut versuchen
firefoxview-tabpickup-sync-disconnected-header = Synchronisation aktivieren, um fortzufahren
firefoxview-tabpickup-sync-disconnected-description = Um Ihre Tabs abzurufen, müssen Sie die Synchronisierung in { -brand-short-name } erlauben.
firefoxview-tabpickup-sync-disconnected-primarybutton = Synchronisation in Einstellungen aktivieren
firefoxview-tabpickup-password-locked-header = Geben Sie Ihr Hauptpasswort ein, um Tabs anzuzeigen
firefoxview-tabpickup-password-locked-description = Um Ihre Tabs abzurufen, müssen Sie das Hauptpasswort für { -brand-short-name } eingeben.
firefoxview-tabpickup-password-locked-link = Weitere Informationen
firefoxview-tabpickup-password-locked-primarybutton = Hauptpasswort eingeben
firefoxview-syncedtab-password-locked-link = <a data-l10n-name="syncedtab-password-locked-link">Weitere Informationen</a>
firefoxview-tabpickup-signed-out-header = Melden Sie sich an, um die Verbindung wiederherzustellen
firefoxview-tabpickup-signed-out-description = Um die Verbindung wiederherzustellen und Ihre Tabs abzurufen, melden Sie sich bei Ihrem { -fxaccount-brand-name } an.
firefoxview-tabpickup-signed-out-description2 = Um die Verbindung wiederherzustellen und Ihre Tabs abzurufen, melden Sie sich bei Ihrem Konto an.
firefoxview-tabpickup-signed-out-primarybutton = Anmelden
firefoxview-tabpickup-syncing = Warten Sie, während Ihre Tabs synchronisiert werden. Es wird nur einen Moment dauern.
firefoxview-mobile-promo-header = Holen Sie sich Tabs von Ihrem Telefon oder Tablet
firefoxview-mobile-promo-description = Um Ihre neuesten mobilen Tabs anzuzeigen, melden Sie sich auf iOS oder Android bei { -brand-product-name } an.
firefoxview-mobile-promo-primarybutton = { -brand-product-name } für Mobilgeräte holen
firefoxview-mobile-confirmation-header = 🎉 Alles startklar!
firefoxview-mobile-confirmation-description = Jetzt können Sie Ihre { -brand-product-name }-Tabs von Ihrem Tablet oder Telefon holen.
firefoxview-closed-tabs-title = Kürzlich geschlossen
firefoxview-closed-tabs-description2 = Öffnen Sie Seiten erneut, die Sie in diesem Fenster geschlossen haben.
firefoxview-closed-tabs-placeholder-header = Keine kürzlich geschlossenen Tabs
firefoxview-closed-tabs-placeholder-body = Wenn Sie einen Tab in diesem Fenster schließen, können Sie ihn von hier abrufen.
firefoxview-closed-tabs-placeholder-body2 = Wenn Sie einen Tab schließen, können Sie ihn von hier abrufen.
# Variables:
#   $tabTitle (string) - Title of tab being dismissed
firefoxview-closed-tabs-dismiss-tab =
    .title = { $tabTitle } schließen
# refers to the last tab that was used
firefoxview-pickup-tabs-badge = Zuletzt aktiv
# Variables:
#   $targetURI (string) - URL that will be opened in the new tab
firefoxview-tabs-list-tab-button =
    .title = { $targetURI } in einem neuen Tab öffnen
firefoxview-try-colorways-button = Farbwelten ausprobieren
firefoxview-change-colorway-button = Farbwelt ändern
# Variables:
#  $intensity (String): Colorway intensity
#  $collection (String): Colorway Collection name
firefoxview-colorway-description = { $intensity } · { $collection }
firefoxview-synced-tabs-placeholder-header = Noch nichts zu sehen
firefoxview-synced-tabs-placeholder-body = Wenn Sie das nächste Mal eine Seite in { -brand-product-name } auf einem anderen Gerät öffnen, greifen Sie hier wie von Zauberhand darauf zu.
firefoxview-collapse-button-show =
    .title = Liste anzeigen
firefoxview-collapse-button-hide =
    .title = Liste ausblenden
firefoxview-overview-nav = Kürzlich besucht
    .title = Kürzlich besucht
firefoxview-overview-header = Kürzlich besucht
    .title = Kürzlich besucht

## History in this context refers to browser history

firefoxview-history-nav = Chronik
    .title = Chronik
firefoxview-history-header = Chronik
firefoxview-history-context-delete = Aus Chronik löschen
    .accesskey = l

## Open Tabs in this context refers to all open tabs in the browser

firefoxview-opentabs-nav = Offene Tabs
    .title = Offene Tabs
firefoxview-opentabs-header = Offene Tabs

## Recently closed tabs in this context refers to recently closed tabs from all windows

firefoxview-recently-closed-nav = Kürzlich geschlossene Tabs
    .title = Kürzlich geschlossene Tabs
firefoxview-recently-closed-header = Kürzlich geschlossene Tabs

## Tabs from other devices refers in this context refers to synced tabs from other devices

firefoxview-synced-tabs-nav = Tabs von anderen Geräten
    .title = Tabs von anderen Geräten
firefoxview-synced-tabs-header = Tabs von anderen Geräten

##

# Used for a link in collapsible cards, in the ’Recent browsing’ page of Firefox View
firefoxview-view-all-link = Alle ansehen
# Variables:
#   $winID (Number) - The index of the owner window for this set of tabs
firefoxview-opentabs-window-header =
    .title = Fenster { $winID }
# Variables:
#   $winID (Number) - The index of the owner window (which is currently focused) for this set of tabs
firefoxview-opentabs-current-window-header =
    .title = Fenster { $winID } (aktuell)
firefoxview-opentabs-focus-tab =
    .title = Zu diesem Tab wechseln
firefoxview-show-more = Mehr anzeigen
firefoxview-show-less = Weniger anzeigen
firefoxview-show-all = Alle anzeigen
firefoxview-search-text-box-clear-button =
    .title = Leeren
# Placeholder for the input field to search in recent browsing ("search" is a verb).
firefoxview-search-text-box-recentbrowsing =
    .placeholder = Suchen
# Placeholder for the input field to search in history ("search" is a verb).
firefoxview-search-text-box-history =
    .placeholder = Chronik durchsuchen
# Placeholder for the input field to search in recently closed tabs ("search" is a verb).
firefoxview-search-text-box-recentlyclosed =
    .placeholder = Kürzlich geschlossene Tabs durchsuchen
# Placeholder for the input field to search in tabs from other devices ("search" is a verb).
firefoxview-search-text-box-syncedtabs =
    .placeholder = Synchronisierte Tabs durchsuchen
# Placeholder for the input field to search in open tabs ("search" is a verb).
firefoxview-search-text-box-opentabs =
    .placeholder = Offene Tabs durchsuchen
# "Search" is a noun (as in "Results of the search for")
# Variables:
#   $query (String) - The search query used for searching through browser history.
firefoxview-search-results-header = Suchergebnisse für "{ $query }"
# Variables:
#   $count (Number) - The number of visits matching the search query.
firefoxview-search-results-count =
    { $count ->
        [one] { $count } Website
       *[other] { $count } Websites
    }
# Message displayed when a search is performed and no matching results were found.
# Variables:
#   $query (String) - The search query.
firefoxview-search-results-empty = Keine Ergebnisse für "{ $query }"
firefoxview-sort-history-by-date-label = Nach Datum sortieren
firefoxview-sort-history-by-site-label = Nach Website sortieren
firefoxview-sort-open-tabs-by-recency-label = Nach neuester Aktivität sortieren
firefoxview-sort-open-tabs-by-order-label = Nach Tab-Reihenfolge sortieren
# Variables:
#   $url (string) - URL that will be opened in the new tab
firefoxview-opentabs-tab-row =
    .title = Zu { $url } wechseln

## Variables:
##   $date (string) - Date to be formatted based on locale

firefoxview-history-date-today = Heute - { DATETIME($date, dateStyle: "full") }
firefoxview-history-date-yesterday = Gestern - { DATETIME($date, dateStyle: "full") }
firefoxview-history-date-this-month = { DATETIME($date, dateStyle: "full") }
firefoxview-history-date-prev-month = { DATETIME($date, month: "long", year: "numeric") }
# When history is sorted by site, this heading is used in place of a domain, in
# order to group sites that do not come from an outside host.
# For example, this would be the heading for all file:/// URLs in history.
firefoxview-history-site-localhost = (lokale Dateien)

##

firefoxview-show-all-history = Gesamte Chronik anzeigen
firefoxview-view-more-browsing-history = Mehr Browserverlauf anzeigen

## Message displayed in Firefox View when the user has no history data

firefoxview-history-empty-header = Kommen Sie zurück dorthin, wo Sie schon waren
firefoxview-history-empty-description = Während Sie surfen, werden die von Ihnen besuchten Seiten hier aufgelistet.
firefoxview-history-empty-description-two = Der Schutz Ihrer Privatsphäre ist das Herzstück dessen, was wir tun. Deshalb können Sie die Aktivitäten, die { -brand-short-name } sich merkt, in Ihren <a data-l10n-name="history-settings-url">Chronik-Einstellungen</a> anpassen.

##

# Button text for choosing a browser within the ’Import history from another browser’ banner
firefoxview-choose-browser-button = Browser wählen
    .title = Browser wählen

## Message displayed in Firefox View when the user has chosen to never remember History

firefoxview-dont-remember-history-empty-header = Nichts zum Anzeigen
firefoxview-dont-remember-history-empty-description = Der Schutz Ihrer Privatsphäre ist das Herzstück dessen, was wir tun. Deshalb können Sie anpassen, welche Aktivitäten { -brand-short-name } sich merkt.
firefoxview-dont-remember-history-empty-description-two = Basierend auf Ihren aktuellen Einstellungen speichert { -brand-short-name } Ihre Aktivitäten nicht während des Surfens. Um das zu ändern, ändern Sie <a data-l10n-name="history-settings-url-two">Ihre Chronik-Einstellungen, um Ihre Chronik zu speichern</a>.
firefoxview-dont-remember-history-empty-header-2 = Sie haben die Kontrolle darüber, was { -brand-short-name } speichert
firefoxview-dont-remember-history-empty-description-one = { -brand-short-name } kann im Moment Ihre Surf-Aktivitäten nicht speichern. Um dies zu ändern, <a data-l10n-name="history-settings-url-two">aktualisieren Sie Ihre Chronikeinstellungen</a>.

##

# This label is read by screen readers when focusing the close button for the "Import history from another browser" banner in Firefox View
firefoxview-import-history-close-button =
    .aria-label = Schließen
    .title = Schließen

## Text displayed in a dismissable banner to import bookmarks/history from another browser

firefoxview-import-history-header = Chronik aus einem anderen Browser importieren
firefoxview-import-history-description = Machen Sie { -brand-short-name } zu Ihrem Browser Nr. 1. Importieren Sie die Surf-Chronik, Lesezeichen und mehr.

## Message displayed in Firefox View when the user has no recently closed tabs data

firefoxview-recentlyclosed-empty-header = Einen Tab zu früh geschlossen?
firefoxview-recentlyclosed-empty-description = Hier finden Sie die Tabs, die Sie kürzlich geschlossen haben, damit Sie sie schnell wieder öffnen können.
firefoxview-recentlyclosed-empty-description-two = Um Tabs von vor längerer Zeit zu finden, sehen Sie sich Ihre <a data-l10n-name="history-url">Surf-Chronik</a> an.

## This message is displayed below the name of another connected device when it doesn't have any open tabs.

firefoxview-syncedtabs-device-notabs = Keine offenen Tabs auf diesem Gerät
firefoxview-syncedtabs-connect-another-device = Weiteres Gerät verbinden
firefoxview-pinned-tabs =
    .title = Angeheftete Tabs
firefoxview-tabs =
    .title = Tabs

## These tooltips will be displayed when hovering over a pinned tab on the Open Tabs page
## Variables:
##  $tabTitle (string) - Title of pinned tab that will be opened when selected

firefoxview-opentabs-pinned-tab =
    .title = Zu { $tabTitle } wechseln
# This tooltip will be shown for a pinned tab whose URL is currently bookmarked.
firefoxview-opentabs-bookmarked-pinned-tab =
    .title = Wechseln zu (Lesezeichen) { $tabTitle }

## These tooltips will be displayed when hovering over an unpinned Open Tab
## Variables:
##   $url (string) - URL of tab that will be opened when selected

# This tooltip will be shown for an unpinned tab whose URL is currently bookmarked.
firefoxview-opentabs-bookmarked-tab =
    .title = (Lesezeichen) { $url }
