# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

toolbar-button-firefox-view =
    .label = { -firefoxview-brand-name }
    .tooltiptext = { -firefoxview-brand-name }
toolbar-button-firefox-view-2 =
    .label = { -firefoxview-brand-name }
    .tooltiptext = Ehecha ñeikundaharamóva Windows ha mba’e’okápe
menu-tools-firefox-view =
    .label = { -firefoxview-brand-name }
    .accesskey = F
firefoxview-page-title = { -firefoxview-brand-name }
firefoxview-page-heading =
    .heading = { -firefoxview-brand-name }
firefoxview-page-label =
    .label = { -firefoxview-brand-name }
firefoxview-close-button =
    .title = Mboty
    .aria-label = Mboty
firefoxview-empty-state-icon =
    .alt = Ema’ẽke:
# Used instead of the localized relative time when a timestamp is within a minute or so of now
firefoxview-just-now-timestamp = Ko’ag̃aite
# This is a headline for an area in the product where users can resume and re-open tabs they have previously viewed on other devices.
firefoxview-tabpickup-header = Tendayke mbojuehepyre
firefoxview-tabpickup-description = Embojuruja kuatiarogue ambue mba’e’oka guive.
# Variables:
#  $percentValue (Number): the percentage value for setup completion
firefoxview-tabpickup-progress-label = { $percentValue }% henyhẽma
firefoxview-tabpickup-step-signin-header = Emoambue mba’e’oka pa’ũme ñekytĩ’ỹre
firefoxview-tabpickup-step-signin-description = Ehecha hag̃ua ne pumbyry rendayke, emoñepyrũraẽ tembiapo térã emoheñói mba’ete.
firefoxview-tabpickup-step-signin-primarybutton = Ku’ejey
firefoxview-syncedtabs-signin-header-2 = { -brand-product-name } opaite ne mba’e’okápe
firefoxview-syncedtabs-signin-primarybutton-2 = Eñemboheraguapy
firefoxview-syncedtabs-signin-header = Ejapyhy tendayke oimeha guive
firefoxview-syncedtabs-signin-description = Ehecha hag̃ua ne rendayke oimeraẽva mba’e’oka guive eiporuhápe { -brand-product-name }, eike ne mba’etépe. Ndereguerekóiramo, rombohapéta emoheñoikuaa hag̃ua.
firefoxview-syncedtabs-signin-primarybutton = Eike térã eñemboheraguapy
firefoxview-tabpickup-adddevice-header = Embojuehe { -brand-product-name } ne pumbyry ha tablétape
firefoxview-tabpickup-adddevice-description = Emboguejy { -brand-product-name } pumbyrýpe ha eñepyrũ tembiapo upépe.
firefoxview-tabpickup-adddevice-learn-how = Mba’éicha eikuaáta
firefoxview-tabpickup-adddevice-primarybutton = Ereko { -brand-product-name } ne pumbyrýpe g̃uarã
firefoxview-syncedtabs-adddevice-header-2 = Ejapyhy tendayke oimeha guive
firefoxview-syncedtabs-adddevice-description-2 = Eñepyrũ tembiapo { -brand-product-name } ne pumbyry térã ambue mohendahápe ehecha hag̃ua tendayke ápe. Ehecha mba’éichapa <a data-l10n-name="url">embojuajúta ambue mba’e’oka</a>.
firefoxview-syncedtabs-adddevice-header = Eike { -brand-product-name } ndive ambue imba’e’okápe
firefoxview-syncedtabs-adddevice-description = Ehecha ne rendayke oimeraẽva mba’e’oka guive eiporúvo { -brand-product-name }, eike mba’e’okakuérape. Eikuaa mba’éicha <a data-l10n-name="url">eikéta mba’e’okápe</a>.
firefoxview-syncedtabs-adddevice-primarybutton = Ereko { -brand-product-name } ne pumbyrýpe
firefoxview-tabpickup-synctabs-header = Emyandy tendayke ñembojuehe
firefoxview-tabpickup-synctabs-description = Emoneĩ { -brand-short-name } omoherakuãvo tendayke mba’e’oka pa’ũme.
firefoxview-tabpickup-synctabs-learn-how = Mba’éicha eikuaáta
firefoxview-tabpickup-synctabs-primarybutton = Embojuehe tendayke ijurujáva
firefoxview-syncedtabs-synctabs-header = Embohekopyahu mbojueheha ñemboheko
firefoxview-syncedtabs-synctabs-description = Ehecha hag̃ua tendayke ambue mba’e’okagua, embojuehe tendayke ijurujáva.
firefoxview-syncedtabs-synctabs-checkbox = Emoneĩ tendayke ijurujáva tojuehekuaa
firefoxview-syncedtabs-loading-header = Ñemboheko oku’éma
firefoxview-syncedtabs-loading-description = Emoĩmbávo, ehecháta umi tendayke ijurujáva ambue mba’e’okápe. Eporandujey ag̃amieve.
firefoxview-tabpickup-fxa-admin-disabled-header = Nde atyguasu omboyke pe ñembojuehe
firefoxview-tabpickup-fxa-admin-disabled-description = { -brand-short-name } nombojuehekuaái tendayke mba’e’okakuéra pa’ũme ne ñangarekohára omboyke rupi ñembojuehe.
firefoxview-tabpickup-fxa-disabled-by-policy-description = { -brand-short-name } nombojuehekuaái tendayke mba’e’okakuéra pa’ũme nde atyguasu ombogue rupi ñembojuehe.
firefoxview-tabpickup-network-offline-header = Ehecha oiko porãpa ñanduti
firefoxview-tabpickup-network-offline-description = Eiporúramo firewall térã proxy, ehechajey { -brand-short-name } oñemoneĩpa eikekuaa hag̃ua ñandutípe.
firefoxview-tabpickup-network-offline-primarybutton = Eha’ãjey
firefoxview-tabpickup-sync-error-header = Oreapañuái rombojuehe hag̃ua
firefoxview-tabpickup-generic-sync-error-description = { -brand-short-name } noñe’ẽkuaái ñembojuehe me’ẽhára ndive ko’ag̃aite. Eha’ãjey ag̃amieve.
firefoxview-tabpickup-sync-error-primarybutton = Eha’ãjey
firefoxview-tabpickup-sync-disconnected-header = Emyandy ñembojuehe eku’ejey hag̃ua
firefoxview-tabpickup-sync-disconnected-description = Eru hag̃ua tendayke, oñemoneĩva’erã ñembojuehe { -brand-short-name }-pe.
firefoxview-tabpickup-sync-disconnected-primarybutton = Emyandy ñembojuehe mbohekohápe
firefoxview-tabpickup-password-locked-header = Ehai ne ñe’ẽñemi ha’etéva ehecha hag̃ua tendayke
firefoxview-tabpickup-password-locked-description = Eguerujey hag̃ua tendayke, ehaiva’erã ñe’ẽñemi ha’etéva { -brand-short-name }-pe.
firefoxview-tabpickup-password-locked-link = Jekuaave
firefoxview-tabpickup-password-locked-primarybutton = Ehai Ñe’ẽñemi Ha’etéva
firefoxview-syncedtab-password-locked-link = <a data-l10n-name="syncedtab-password-locked-link">Eikuaave</a>
firefoxview-tabpickup-signed-out-header = Eñepyrũ tembiapo eikejey hag̃ua
firefoxview-tabpickup-signed-out-description = Eikejey ha ereko hag̃ua ne rendayke, emoñepyrũ tembiapo nde { -fxaccount-brand-name }-pe.
firefoxview-tabpickup-signed-out-description2 = Eikejey ha ereko hag̃ua ne rendayke, emoñepyrũ tembiapo ne mba’etépe.
firefoxview-tabpickup-signed-out-primarybutton = Eñepyrũ tembiapo
firefoxview-tabpickup-syncing = Eha’ãrõ tendayke toñembojuehe. Ndahi’aremo’ãi.
firefoxview-mobile-promo-header = Ehecha tendayke ne pumbyry térã tabléta rupive
firefoxview-mobile-promo-description = Ehecha hag̃ua tendayke eipuramovéva, emoñepyrũ tembiapo { -brand-product-name } iOS térã Android rupive.
firefoxview-mobile-promo-primarybutton = Ereko { -brand-product-name } ne pumbyrýpe
firefoxview-mobile-confirmation-header = 🎉 ¡Erahakuaáma!
firefoxview-mobile-confirmation-description = Ko’ág̃a ikatu ehecha { -brand-product-name } rendayke nde tabléta térã pumbyry guive.
firefoxview-closed-tabs-title = Oñembotyramovéva
firefoxview-closed-tabs-description2 = Embojurujajey kuatiarogue embotýva ko ovetãme.
firefoxview-closed-tabs-placeholder-header = Ndaipóri tendayke oñembotyramóva
firefoxview-closed-tabs-placeholder-body = Embotývo peteĩ tendayke ko ovetãme, ehekakuaa ko’a guive.
firefoxview-closed-tabs-placeholder-body2 = Embotývo peteĩ tendayke ehekakuaa ko’a guive.
# Variables:
#   $tabTitle (string) - Title of tab being dismissed
firefoxview-closed-tabs-dismiss-tab =
    .title = Emboyke { $tabTitle }
# refers to the last tab that was used
firefoxview-pickup-tabs-badge = Hendyramovéva
# Variables:
#   $targetURI (string) - URL that will be opened in the new tab
firefoxview-tabs-list-tab-button =
    .title = Embojuruja { $targetURI } tendayke pyahúpe
firefoxview-try-colorways-button = Eiporu sa’y ojueheguáva
firefoxview-change-colorway-button = Emoambue sa’y ojueheguáva
# Variables:
#  $intensity (String): Colorway intensity
#  $collection (String): Colorway Collection name
firefoxview-colorway-description = { $intensity } · { $collection }
firefoxview-synced-tabs-placeholder-header = Ndaipóri jehecharã
firefoxview-synced-tabs-placeholder-body = Embojurujajeývo kuatiarogue { -brand-product-name }-pe ambue mba’e’okápe, osẽta ko’ápe ha’eñoreínte.
firefoxview-collapse-button-show =
    .title = Ehechauka tysýi
firefoxview-collapse-button-hide =
    .title = Emokañy tysýi
firefoxview-overview-nav = Ñeikundaha ramovéva
    .title = Ñeikundaha ramovéva
firefoxview-overview-header = Ñeikundaha ramovéva
    .title = Ñeikundaha ramovéva

## History in this context refers to browser history

firefoxview-history-nav = Tembiasakue
    .title = Tembiasakue
firefoxview-history-header = Tembiasakue
firefoxview-history-context-delete = Emboguete tembiasakuégui
    .accesskey = D

## Open Tabs in this context refers to all open tabs in the browser

firefoxview-opentabs-nav = Tendayke ijurujáva
    .title = Tendayke ijurujáva
firefoxview-opentabs-header = Tendayke ijurujáva

## Recently closed tabs in this context refers to recently closed tabs from all windows

firefoxview-recently-closed-nav = Tendayke oñembotyramóva
    .title = Tendaykekuéra oñembotyramóva
firefoxview-recently-closed-header = Tendaykekuéra oñembotyramóva

## Tabs from other devices refers in this context refers to synced tabs from other devices

firefoxview-synced-tabs-nav = Tendaykekuéra ambue mba’e’okagua
    .title = Tendaykekuéra ambue mba’e’okagua
firefoxview-synced-tabs-header = Tendaykekuéra ambue mba’e’okagua

##

# Used for a link in collapsible cards, in the ’Recent browsing’ page of Firefox View
firefoxview-view-all-link = Ehechapa
# Variables:
#   $winID (Number) - The index of the owner window for this set of tabs
firefoxview-opentabs-window-header =
    .title = Ovetã { $winID }
# Variables:
#   $winID (Number) - The index of the owner window (which is currently focused) for this set of tabs
firefoxview-opentabs-current-window-header =
    .title = Ovetã { $winID } (Ag̃agua)
firefoxview-opentabs-focus-tab =
    .title = Emoambue tendayképe
firefoxview-show-more = Ehechaukave
firefoxview-show-less = Ehechauka’ive
firefoxview-show-all = Ehechaukapaite
firefoxview-search-text-box-clear-button =
    .title = Mopotĩ
# Placeholder for the input field to search in recent browsing ("search" is a verb).
firefoxview-search-text-box-recentbrowsing =
    .placeholder = Heka
# Placeholder for the input field to search in history ("search" is a verb).
firefoxview-search-text-box-history =
    .placeholder = Eheka tembiasakuépe
# Placeholder for the input field to search in recently closed tabs ("search" is a verb).
firefoxview-search-text-box-recentlyclosed =
    .placeholder = Ndaipóri tendayke oñembotyramóva
# Placeholder for the input field to search in tabs from other devices ("search" is a verb).
firefoxview-search-text-box-syncedtabs =
    .placeholder = Eheka tendayke mbojuehepyrépe
# Placeholder for the input field to search in open tabs ("search" is a verb).
firefoxview-search-text-box-opentabs =
    .placeholder = Eheka tendayke ijurujávape
# "Search" is a noun (as in "Results of the search for")
# Variables:
#   $query (String) - The search query used for searching through browser history.
firefoxview-search-results-header = Jeheka rapykuere “{ $query }-pe g̃uarã”
# Variables:
#   $count (Number) - The number of visits matching the search query.
firefoxview-search-results-count =
    { $count ->
        [one] { $count } tenda
       *[other] { $count } tendakuéra
    }
# Message displayed when a search is performed and no matching results were found.
# Variables:
#   $query (String) - The search query.
firefoxview-search-results-empty = Ndaipóri “{ $query }” rapykuere
firefoxview-sort-history-by-date-label = Arange rupive
firefoxview-sort-history-by-site-label = Tenda rupive
firefoxview-sort-open-tabs-by-recency-label = Emoĩporã tembiapokue ipyahúvare
firefoxview-sort-open-tabs-by-order-label = Emoĩporã tabulación rupive
# Variables:
#   $url (string) - URL that will be opened in the new tab
firefoxview-opentabs-tab-row =
    .title = Emoambue { $url }-pe

## Variables:
##   $date (string) - Date to be formatted based on locale

firefoxview-history-date-today = Ko’ára - { DATETIME($date, dateStyle: "full") }
firefoxview-history-date-yesterday = Kuehe - { DATETIME($date, dateStyle: "full") }
firefoxview-history-date-this-month = { DATETIME($date, dateStyle: "full") }
firefoxview-history-date-prev-month = { DATETIME($date, month: "long", year: "numeric") }
# When history is sorted by site, this heading is used in place of a domain, in
# order to group sites that do not come from an outside host.
# For example, this would be the heading for all file:/// URLs in history.
firefoxview-history-site-localhost = (marandurenda pypegua)

##

firefoxview-show-all-history = Tembiasakue jehechaukapa
firefoxview-view-more-browsing-history = Ehecha kundahára rembiasakue

## Message displayed in Firefox View when the user has no history data

firefoxview-history-empty-header = Ejevyjey eimehaguépe
firefoxview-history-empty-description = Eikundahavekuévo, umi kuatiarogue eikeha ehecháta ko’ápe.
firefoxview-history-empty-description-two = Nde rekoñemi ñemo’ã rogueroike ore rembiaporãkuaitépe. Upévare ehechava’erã pe tembiapoite { -brand-short-name } imandu’áva, <a data-l10n-name="history-settings-url">tembiasakue ñemoĩporã </a>.

##

# Button text for choosing a browser within the ’Import history from another browser’ banner
firefoxview-choose-browser-button = Eiporavo kundahára
    .title = Eiporavo kundahára

## Message displayed in Firefox View when the user has chosen to never remember History

firefoxview-dont-remember-history-empty-header = Ndaipóri jehechaukarã
firefoxview-dont-remember-history-empty-description = Ne rekoñemi ñemo’ã tuicha mba’e oréve g̃uarã. Upévare ikatu ehechameme tembiapo omomandu’áva { -brand-short-name }.
firefoxview-dont-remember-history-empty-description-two = Pe ñemboheko ko’ag̃agua oĩháicha, { -brand-short-name } naimandu’ái tembiapóre oikundahakuévo. Emoambuekuaa hag̃ua, <a data-l10n-name="history-settings-url-two">emoambue ñemboheko tembiasakuégui</a>.
firefoxview-dont-remember-history-empty-header-2 = Reikuaa mba’etérehepa nemandu’a { -brand-short-name }

##

# This label is read by screen readers when focusing the close button for the "Import history from another browser" banner in Firefox View
firefoxview-import-history-close-button =
    .aria-label = Mboty
    .title = Mboty

## Text displayed in a dismissable banner to import bookmarks/history from another browser

firefoxview-import-history-header = Egueru tembiasakue ambue kundaháragui
firefoxview-import-history-description = Ejapo { -brand-short-name } ha’évo ne kundahára eiporuvévarõ. Egueru kundahára rembiasakue, techaukaha ha hetave.

## Message displayed in Firefox View when the user has no recently closed tabs data

firefoxview-recentlyclosed-empty-header = ¿Emboty pya’e tendayke?
firefoxview-recentlyclosed-empty-description = Ko’ápe rejuhúta tendayke embotyramovéva, embojurujajey hag̃ua oimeraẽva embotyramova’ekue.
firefoxview-recentlyclosed-empty-description-two = Eheka hag̃ua tendayke embotýva arevémava, ehecha <a data-l10n-name="history-url">ñeikundaha rembiasakue</a>.

## This message is displayed below the name of another connected device when it doesn't have any open tabs.

firefoxview-syncedtabs-device-notabs = Ndaipóri tendayke ijurujáva ko mba’e’okápe
firefoxview-syncedtabs-connect-another-device = Embojuaju ambue mba’e’oka
firefoxview-pinned-tabs =
    .title = Tendayke mbojapyre
firefoxview-tabs =
    .title = Tendayke

## These tooltips will be displayed when hovering over a pinned tab on the Open Tabs page
## Variables:
##  $tabTitle (string) - Title of pinned tab that will be opened when selected

firefoxview-opentabs-pinned-tab =
    .title = Emoambue { $tabTitle }-pe
# This tooltip will be shown for a pinned tab whose URL is currently bookmarked.
firefoxview-opentabs-bookmarked-pinned-tab =
    .title = Emoambue (Techaukahápe) { $tabTitle }-pe

## These tooltips will be displayed when hovering over an unpinned Open Tab
## Variables:
##   $url (string) - URL of tab that will be opened when selected

# This tooltip will be shown for an unpinned tab whose URL is currently bookmarked.
firefoxview-opentabs-bookmarked-tab =
    .title = (Techaukahápe) { $url }
